
// GLOBAL

* {
    font-family: Lato , sans-serif;
}



// FOR PC & TABLET
@media(min-width:760px){
    h1 {
        font-family: coolvetica;
        font-size: 72px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    h2 {
        font-family: coolvetica;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    h3 {
        font-family: coolvetica;
        font-size: 48px  !important;
        font-style: normal;
        font-weight: 500  !important;
        line-height: normal;
    }
    h4 {
        font-family: coolvetica;
        font-size: 36px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    h5 {
        font-family: coolvetica;
        font-size: 30px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    h6 {
        font-family: coolvetica;
        font-size: 24px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    p {
        font-family: 'proxima nova', sans-serif;
        font-size: 20px !important;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 1.6 !important;
    }
    .footer-link {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #8fff00;
            text-decoration: underline;
        }
    }
}
// FOR MOBILE
@media(max-width:760px){
    h1 {
        font-family: coolvetica;
        font-size: 60px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    h2 {
        font-family: coolvetica;
        font-size: 48px !important;
        font-style: normal;
        font-weight: 600 !important;
        line-height: normal;
    }
    h3 {
        font-family: coolvetica;
        font-size: 36px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    h4 {
        font-family: coolvetica;
        font-size: 26px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    h5 {
        font-family: coolvetica;
        font-size: 22px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    h6 {
        font-family: coolvetica;
        font-size: 20px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: normal;
    }
    p {
        font-family: 'proxima nova', sans-serif;
        font-size: 16px !important;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 1.4 !important;
    }
    .footer-link {
        text-decoration: none;
        color: #fff;
        &:hover {
            color: #8fff00;
            text-decoration: underline;
        }
    }

}
